html body{
    background-color:#dff0fa;
}

    /* --Overall-- */
    .normal-link {
        margin-top: 5px;
        text-align: left;
    }


    #mfa_div,
    #otp_div,
    #otp_forgot_div,
    #forgot_div,
    #recaptcha_div,
    #otp_send_div,
    #mfa_forgot_div,
    #otp_forgot_after_div,
    #terminate_session_div,
    #new_password_div,
    #new_password_firstTime_div,
    #login_after_newPassword_div {
        display: none;
    }

    .log-in h6 {
        padding: 0 1.5rem;
    }

    .rightIcon {
        right: 0;
        left: auto !important;
        top: 0;
        align-items: center;
    }

    /* MFA */
    .autenticator-option {
        cursor: pointer;
        border: 1px solid #000;
        width: 100%;
        height: auto;
        border-radius: 3px;
        padding: 7px;
        margin-top: 10px;
    }

    .mfa-icon {
        font-size: 22px !important;
        font-weight: 700;
    }

    .autenticator-option p {
        margin-bottom: 0px !important;
        line-height: normal !important;
        font-size: 14px;
        color: #000;
        opacity: .65;
        font-weight: 400;
        max-width: 100% !important;
    }

    /* otp page css */
    #otp_form .otp-inputs input {
        width: 30px;
        height: 40px;
        background-color: #e5e5e5;
        margin: 5px;
    }

    #otp_form input[type=number]::-webkit-inner-spin-button,
    #otp_form input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0
    }

    #otp_form .card-2 {
        background-color: #fff;
        padding: 10px;
        width: 350px;
        height: 100px;
        bottom: -50px;
        left: 20px;
        position: absolute;
        border-radius: 5px
    }

    #otp_form .card-2 .content {
        margin-top: 50px
    }

    #otp_form .card-2 .content a {
        color: #014c8e;
    }

    #otp_form .form-control:focus {
        box-shadow: none;
        border: 2px solid #014c8e;
    }

    /* otp page css ends */
    /* Enter OTP */


    /* Terminate Session */
    .custom-control-input:checked~.custom-control-label::after {
        color: var(--primary);
    }


    /* Forget Passowrd recaptcha  */

    .wrapper {
        width: 80%;
        border: 1px solid #c5c5c5;
        border-radius: 3px;
        padding: 10px;
    }

    .wrapper .captcha-area {
        display: flex;
        height: 35px;
        margin: 10px 0;
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid #c5c5c5;
        padding: 5px;
        border-radius: 3px; */
    }

    .captcha-area .captcha-img {
        height: 100%;
        width: 100%;
        user-select: none;
        background: transparent;
        border-radius: 5px;
        position: relative;
    }

    .captcha-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        opacity: 0.95;
    }

    .captcha-img .captcha {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        color: #242424;
        font-size: inherit;
        text-align: center;
        transform: translate(-50%, -50%);
        text-shadow: 0px 0px 2px #b1b1b1;
        font-family: inherit;
    }

    .wrapper button {
        outline: none;
        border: none;
        color: #242424;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .wrapper button:hover {
        background: #2fa5e9;
    }

    .captcha-area .reload-btn {
        width: 35px;
        height: 100%;
        font-size: 20px;
    }

    .captcha-area .reload-btn i {
        transition: transform 0.3s ease;
    }

    .captcha-area .reload-btn:hover i {
        transform: rotate(15deg);
    }

    .wrapper .input-area {
        width: 100%;
        position: relative;
    }

    .status-text {
        padding: 10px 0px;
        font-size: 12px;
    }

    .wrapper .input-area input {
        width: 100%;
        height: 100%;
        outline: none;
        padding-left: 20px;
        font-size: inherit;
        border-radius: 5px;
        border: 1px solid #bfbfbf;
    }

    .wrapper .input-area input:is(:focus, :valid) {
        padding-left: 19px;
        border: 2px solid #4db2ec;
    }

    .wrapper .input-area input::placeholder {
        color: #bfbfbf;
    }

    .wrapper .input-area .check-btn {
        position: absolute;
        right: 7px;
        top: 50%;
        font-size: 17px;
        height: 45px;
        padding: 0 20px;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-50%);
    }

    .wrapper .input-area input:valid+.check-btn {
        opacity: 1;
        pointer-events: auto;
    }

    .wrapper .status-text {
        display: none;
        font-size: 18px;
        text-align: center;
        margin: 20px 0 -5px;
    }

    .checkCaptcha {
        width: 100% !important;
        padding: 10px !important;
        border: 1px solid #c5c5c5 !important;
        height: 30px !important;
    }

    @media (max-width: 506px) {
        body {
            padding: 0 10px;
        }

        .wrapper {
            padding: 22px 25px 35px;
        }

        .wrapper header {
            font-size: 25px;
        }

        .wrapper .captcha-area {
            height: 60px;
        }

        .captcha-area .captcha {
            font-size: 28px;
            letter-spacing: 5px;
        }

        .captcha-area .reload-btn {
            width: 60px;
            margin-left: 5px;
            font-size: 20px;
        }

        .wrapper .input-area {
            height: 55px;
        }

        .input-area .check-btn {
            height: 40px;
        }

        .wrapper .status-text {
            font-size: 15px;
        }

        .captcha-area .captcha-img {
            width: 250px;
        }
    }
    
    .page_links_div {
        position: absolute;
        z-index: 1;
        margin: 10px;
        right: 0;
    }

    .page_links_div a{
        color: #dbdbdb;
    }
    .page_links_div.d-flex a::before {
        content: " ";
        background: #dbdbdb ;
        height: 100%;
        width: 2px;
        position: absolute;
        top: 0px;
        margin-left: -7px;
    }